<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
      <a class="page-link" (click)="currentPage = currentPage - 1">Prev</a>
    </li>

    <!--  [ngClass] - attribute/property directive for styles | *ngFor - structural directive for js -->
    <!--  ng-container is to apply extra structural directive like here without having styling issues -->
    <ng-container *ngFor="let image of images; let i = index">
      <li
        class="page-item"
        [ngClass]="{ active: i === currentPage }"
        *ngIf="checkListIndex(i)"
      >
        <!-- accessing current array index using aliasing syntax 'let i = index' above & using 'i' everywhere here -->
        <a class="page-link" (click)="currentPage = i">{{ i + 1 }}</a>
      </li>
    </ng-container>

    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage === images.length - 1 }"
    >
      <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
    </li>
  </ul>
</nav>

<div>
  <h4>{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url" />
</div>

<div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">current page is 0</div>
  <div *ngSwitchDefault>default</div>
</div>
